*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
 body{
    background-attachment: scroll;
 }
 body header{
 /*   background-color: rgb(162, 224, 138);*/
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../image/beach-1236581_1920.jpg);   
    background-position: center;
    height: 10vh;
    background-size: cover;
 
}

.logo a {
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.7);
}
.logo span{
    color:red;
    font-weight: bold;
    font-size: 2rem;
    }

ul{
    display: flex;
    float: right;
    list-style: none;
    margin-top: 20px;
}
ul li a {
    text-decoration: none;
    color: #fff;
    padding-left: 3vw;
    padding-right: 3vw;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 5px;
    font-weight: 500px;
    transition: 0.6s ;
}

ul li a:hover{
    background: #fff;
    color: #000;
}

ul li.active a{
    background: #fff;
    color: #000;
}



section img{
    height: 300px;
    width:400px;
    margin:2px;
}
.icone{
    width: 50px;
 }
 
 footer div a{
    text-decoration: none;
    color: #000;
    border-left: #000 solid 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 2px;
 
 }
 
 footer{
    box-shadow: 6px 7px 20px rgb(136, 130, 130);
    width: 98.65vw;
    height:130px;
    display: flex;
 }
 
 footer div{
    width: 123px;
    margin-left: 123px;
 }
 
 
 #num{
    border-left: #000 solid 2px;
    width: 210px;
    height: 90px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
 }
 
 #lien{
    width: 300px;
    display: flex;
    flex-direction: column  ;
 }
 
 
 #image{
    display: flex;
    width: 12px;
    position: absolute;
    left: 125vh;   
    margin-top: 30px;
    border-left: #000 2px solid;
    justify-content: space-between;
 }

 .btn1{
    height: 100px;
    width: 100px;
    display: flex;
    border-radius:50% ;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
 }

 section{
    box-shadow: 1px 1px 12px #000;
 }

 
section{
    margin-top: 2%;
    align-items: center;
    justify-content: space-evenly;
    width: 97.65vw;
    height: 500vh;
    display: flex;
    margin-left: 12px;
    background-color: rgba(153, 189, 118, 0.384);
    flex-wrap: wrap;
    align-content: flex-start;
}
